/* Jumbotron */
h1 {
  background-color: #D3A277;
  text-align: center;
  color: #EEEBE3;
  font-size: large;


    
}

/* Team Cards */
.card {
background-color: #819A95;
color: black;

}

.card-body {
  background-color: EEEBE3;
};

.list-group-item {
    color: black;
}

body {
background-color: #C1D7BF;
};